.ThemeSwitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    white-space: pre;
}

.Horizontal__wrapper {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ThemeSwitch p, .ThemeSwitch a {
    font-size: 1.5rem;
}

.Choices__wrapper {
    height: 1.5rem;
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Choice__options {
    height: 1.3rem;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
}

.Choice__option {
    height: 100%;
    aspect-ratio: 3/1;
}

.Choice__option__custom {
    height: 100%;
    aspect-ratio: 3/1;

    background: #ff00fc;
    background: linear-gradient(130deg,rgba(29, 45, 101, 1) 0%, rgba(234, 234, 234, 1) 33%, rgba(98, 213, 159, 1) 67%, rgba(175, 14, 14, 1) 100%);
}

.Custom__color__extension {
    width: 100%;
    height: 250px;

    padding-left: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;

    background-color: transparent;
}

.Custom__color__extension h2 {
    align-self: start;

    font-size: 1.2rem;
    font-weight: 200;
}

.Custom__color__switches__wrapper {
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;

    background: red;
}

.Choices__line__wrapper {
    position: relative;

    width: 100%;
    height: 0.2rem;
}

.Choices__line {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 100%;
    width: 15px;

    background: black;

    transition: 0.5s cubic-bezier(.56,.46,.44,.97);
}