.TimeZonePicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    white-space: pre;
}

.TimeZonePicker p {
    font-size: 1.5rem;
}

.Text__wrapper {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.Arrow {

}