.MobileHeader {
    z-index: 900;
    position: absolute;

    width: 100%;
    height: 4rem;

    padding: 0.5rem 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    background-color: transparent;
}

.MobileHeader h1 {
    font-size: 1.75rem;
}

.NavButton {
    width: 2rem;
    aspect-ratio: 1/1;

    margin-top: 0.25rem;

    background-color: transparent;
    border: none;
}

.NavButton:active {
    opacity: 0.5;
}

.NavButton svg {
    width: 100%;
    height: 100%;
}