.Simple__switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    white-space: pre;
}

.Choices__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Choices__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Choices__line {
    height: 2px;
    width: 15px;

    background: black;
}