.Color__picker__wrapper {
    position: relative;

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;

    white-space: pre;
}

.Color__picker__wrapper p {
    font-size: 1.5rem;
}

.Color__pick__tile {
    height: 1.3rem;
    aspect-ratio: 3/1;
}

.React__color__picker {
    position: absolute;
    transform-origin: 0 0;
    right: calc(100% + 1rem);
}