.Clock-wrapper {
    padding: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Clock-background {
    height: 100px;
    aspect-ratio: 1/1;

    background-color: #eeeeee;
    border-radius: 50%;
    /*border: 2px solid #c5c5c5;*/
    box-shadow: 3px 0 6px #5d5d5d inset;
    /*box-shadow: 0 0 8px black inset, 0 0 40px #565656;*/

    position: relative;
}

.Clock-second-arrow {
    height: 45px;
    width: 2px;

    left: calc(50% - 1px);
    top: calc(100px / 2 - 45px);

    background-color: black;

    transform: rotate(var(--second-arrow-degrees));
    transform-origin: bottom center;

    position: absolute;
}

.Clock-minute-arrow {
    height: 52px;
    width: 8px;

    left: calc(50% - (8px / 2));
    top: calc(100px / 2 - 52px + (8px / 2));

    background-color: black;
    border-radius: 0 0 100px 100px;
    box-shadow: 0 0 2px black;

    transform: rotate(var(--minute-arrow-degrees));
    transform-origin: calc(8px / 2) calc(52px - (8px / 2));
    transition: transform 500ms;

    position: absolute;
}

.Clock-hour-arrow {
    height: 45px;
    width: 8px;

    left: calc(50% - (8px / 2));
    top: calc(100px / 2 - 45px + (8px / 2));

    background-color: black;
    border-radius: 0 0 100px 100px;
    box-shadow: 0 0 2px black;

    transform: rotate(var(--hour-arrow-degrees));
    transform-origin: calc(8px / 2) calc(45px - (8px / 2));
    transition: transform 500ms;

    position: absolute;
}
