.Account__window {
    z-index: 1000;
    position: absolute;
    top: calc(5rem + (100vh - 5rem - 5rem - 200px) / 3);
    left: auto;

    width: 500px;
    height: fit-content;
    max-height: 300px;

    font-weight: 200 !important;
}