.Settings__window {
    z-index: 999;
    position: absolute;
    /*top: calc(5rem + 1rem);*/
    top: calc(5rem + (100vh - 5rem - 5rem - 250px) / 3);
    left: auto;

    /*width: calc(100vw - 5rem);*/
    width: fit-content;
    max-width: 1000px;
    /*height: calc(100vh - 5rem - 1rem - 1rem - 5rem);*/
    height: fit-content;

    font-weight: 200 !important;

    user-select: none;
}

.All__settings__wrapper {
    width: fit-content;
    height: fit-content;

    /*margin-left: calc((var(--all-setting-wrapper-width) - var(--theme-switch-width) * 1.2) / 2);*/
    margin: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
}

.Setting__switch__wrapper {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .Settings__window {
        width: 100%;
    }
}