.Settings__window {
    z-index: 999;
    position: absolute;
    top: calc(5rem + 1rem);
    left: auto;

    width: calc(100vw - 5rem);
    max-width: 1400px;
    height: calc(100vh - 5rem - 1rem - 1rem - 5rem);
}